[submodule "src/submodule/apclientpp"]
	path = src/submodule/apclientpp
	url = https://github.com/KScl/apclientpp.git
	branch = bundled-valijson
	shallow = true
[submodule "src/submodule/json"]
	path = src/submodule/json
	url = https://github.com/nlohmann/json.git
	shallow = true
[submodule "src/submodule/wswrap"]
	path = src/submodule/wswrap
	url = https://github.com/black-sliver/wswrap.git
	shallow = true
[submodule "src/submodule/websocketpp"]
	path = src/submodule/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
	shallow = true
